@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-dilg-yellow: #ffde15;
	--color-dilg-red: #c9282d;
	--color-dilg-blue: #002c76;
}

* {
	font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}
